

body {
    position:relative !important;
    background-image: url('/Content/images/login/bg.gif');
}

    body.block-ui {
        overflow-x: hidden;
    }

#flag {
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    background: url('/Content/images/login/flag.png') no-repeat;
    width: 167px;
    height: 184px;
}

#pic {
    position: absolute;
    top: 0;
    right: 0;
    background: url('/Content/images/login/khomeini.png') no-repeat bottom;
    width: 170px;
    height: 170px;
}

#nastaliq {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('/Content/images/login/system-bg.png') no-repeat;
    width: 551px;
    height: 620px;
}

#pajoohesh {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 60px;
}
#pajoohesh a{
    float:left;
}

#login-card {
    margin: 65px auto;
    width: 360px;
    position: relative;
    z-index: 10;
}

#site-title {
    background: url('/Content/images/login/site-title.png') center no-repeat;
    height: 100px;
}

#login {
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,.12), 1px 1px 4px rgba(0,0,0,.24);
    padding: 50px 25px 40px;
}

.captcha {
    float:right;
    width: 50%;
}

.captcha-image {
    width: 45%;
    float: left;
    border: 1px solid #ccc;
    padding-right: 0 !important;
    margin-top: -4px;
}

.captcha {
    width: 45%;
    float: right;
}

#login-footer {
    font-size: 12px;
    color: #777;
    margin-top:10px;
}
#forget {
    margin-top: 10px;
    font-size: 12px;
}

#forget a{
    text-decoration:none;
}

#version {
    float: left;
    display: inline-block;
    text-align: right;
}

#update {
    text-align: left;
    display: inline-block;
    direction: ltr;
}

.group .prefix {
    position: absolute;
    font-size: 23px;
    margin-right: 4px;
    color: #666;
    margin-top: 5px;
}


/** login form **/
#login-container {
}
#login-container .group {
    position: relative;
    margin-bottom: 40px;
}

    #login-container .md-btn {
        font-family: 'Yekan' !important;
        font-size: 18px !important;
        line-height: 36px !important;
        height: 41px !important;
    }

    #login-container input {
        font-size: 16px !important;
        /*padding: 16px 7px 15px 5px;*/
        padding-right: 4px !important;
        display: block;
        width: 88%;
        border: none;
        border-bottom: 1px solid #b7b7b7;
        margin-right: 35px;
        font-family: sans-serif;
        color: #666;
        direction: ltr;
        text-align: right;
    }




#login-container label {
    color: #999 !important;
    font-size: 16px !important;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    margin-right: 35px;
    top: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.option-input {
    display: inline !important;
    width: auto !important;
}
.option-label {
    position: relative !important;
    display: inline !important;
    width: auto !important;
    top: -3px !important;
    margin-right: 0 !important;
}
#login-container input:valid ~ .option-label {
    font-size: 16px !important;
}

#login-container .fa-mobile {
    margin-right: 6px;
    font-size: 30px;
}

/* active state */
#login-container input:focus ~ label, #login-container input:valid ~ label {
    top: -20px;
    font-size: 13px !important;
    color: #5264AE;
}

/* BOTTOM BARS */
    #login-container .bar {
        position: relative;
        display: block;
        width: 88%;
        margin-right: 35px;
    }

    #login-container .bar:before, #login-container .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    #login-container .bar:before {
        left: 50%;
    }

    #login-container .bar:after {
        right: 50%;
    }

/* active state */
#login-container input:focus ~ .bar:before, #login-container input:focus ~ .bar:after {
    width: 50%;
}

#login-container input:active, #login-container input:focus {
    border: 0px !important;
}
/* ANIMATIONS  */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/** end of login form **/

.change-password-s {
    width: 49%;
    float: right;
    margin-top: 25px;
}
.change-password-r {
    width: 49%;
    float: left;
    margin-top: 25px;
}
.password{
    padding-top:10px !important;
}
.fieldset {
    margin-bottom: 25px;
    font-size: 18px;
    color: #0808d0;
    text-align: center;
    margin-top: 5px;
}
.form-control{
    padding:0 !important;
}