
<div class="container" style="color:black; height:600px;overflow-x:hidden;">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12">
                <h1 class="col-md-6"><span class="questionid">سوال {{Questions.indexOf(currentQuestion)+1}}. </span>{{currentQuestion.QuestionText}}</h1>
                <img class="col-md-6" src="{{userDomain}}/{{currentQuestion.AttachmentAddress}}" alt="">
            </div>
            <div class="col-md-12 margin-top-50">
                <ul>
                    <li ng-repeat="option in currentQuestion.QuestionOptions" class="custom-option-label col-md-12 md-color-white margin-top-10" ng-click="selectOption(option.Id)">
                        <label class="col-md-6">
                            <span>{{option.Option}}</span>
                        </label>
                        <img class="col-md-6" src="{{userDomain}}/{{option.OptionImageAddress}}" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>