<div style="color:black;">
    <div class="col-xs-12">
        <div class="form-group col-xs-4">
            <span class="col-md-2 label">عنوان درخواست:</span>
            <input type="text" class="col-md-10 " maxlength="100" readonly="readonly" required ng-model="studentRequest.Title" id="title">
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group mar-top-23">
            <span class="label"> متن درخواست:</span>
            <textarea rows="5" readonly="readonly" class="mousetrap" maxlength="500" required ng-model="studentRequest.Description" id="Description" lang="fa"></textarea>
        </div>
    </div>
    <div class="col-xs-12 row">
        <div style="margin-right: 40%;">

            <button type="button" class="btn btn-success" ng-click="approvedRequest()">تایید درخواست</button>
            <button type="button" class="btn btn-danger" ng-click="deniedRequest()">رد درخواست</button>
            <button type="button" class="btn btn-default" ui-sref="requestManagmentSearch">بازگشت</button>
        </div>
    </div>
</div>