<div class="form-group">
  
  	<div class="col-md-10 col-sm-9 col-xs-10" style=" padding-top:5px; padding-bottom:5px;">
	  	<div class="row">
	  		<pn-auto-complete source="dataSource" disabled="disabled" ng-model="model" class="autocom "></pn-auto-complete>
	  	</div>
  </div>
       
        <div class="col-md-1 col-sm-1 col-xs-1" style="padding-left:0; padding-right:0; padding-top:5px;">
            <pn-button ng-click="doInsertText()" class="descIcons fa fa-plus genral-background" ng-disabled="disabled" value="+"></pn-button>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1" style="padding-left:0; padding-right:0; padding-top:5px;">
            <pn-button ng-click="doDeleteText()" class="descIcons fa fa-minus genral-background" ng-disabled="disabled" value="-"></pn-button>
        </div>
    </div>

<style>
    .md-btn {
        min-width: auto;
        padding: 2px 6px;
    }
</style>