
<div> 
    <div class="row ip-div ">
        <div class="ipv4-input">
            <div class="form-group">
                <pn-textbox-number ng-model="modelIP.Reng1" maxlength="3" tabindex="1"></pn-textbox-number>
            </div>
        </div>
        <div class="ipv4-input">
            <div class="form-group">
                <label>.</label>
                <pn-textbox-number ng-model="modelIP.Reng2" maxlength="3" tabindex="2"></pn-textbox-number>
            </div>
        </div>
        <div class="ipv4-input">
            <div class="form-group">
                <label>.</label>
                <pn-textbox-number ng-model="modelIP.Reng3" maxlength="3" tabindex="3"></pn-textbox-number>
            </div>
        </div>
        <div class="ipv4-input">
            <div class="form-group">
                <label>.</label>
                <pn-textbox-number ng-model="modelIP.Reng4" maxlength="3" tabindex="4"></pn-textbox-number>
            </div>
        </div>
    </div>
</div>
