
<div> 
    <div class="row ip-div ">
        <div class="ipv6-input">
            <div class="form-group">
                <pn-textbox ng-model="modelIP.Reng1" maxlength="4" tabindex="1"></pn-textbox>
            </div>
        </div>
        <div class="ipv6-input">
            <div class="form-group">
                <label>:</label>
                <pn-textbox ng-model="modelIP.Reng2" maxlength="4" tabindex="2"></pn-textbox>
            </div>
        </div>
        <div class="ipv6-input">
            <div class="form-group">

                <label>:</label>
                <pn-textbox ng-model="modelIP.Reng3" maxlength="4" tabindex="3"></pn-textbox>

            </div>
        </div>
        <div class="ipv6-input">
            <div class="form-group">

                <label>:</label>
                <pn-textbox ng-model="modelIP.Reng4" maxlength="4" tabindex="4"></pn-textbox>

            </div>
        </div>
        <div class="ipv6-input">
            <div class="form-group">
                <label>:</label>
                <pn-textbox ng-model="modelIP.Reng5" maxlength="4" tabindex="5"></pn-textbox>
            </div>
        </div>
        <div class="ipv6-input">
            <div class="form-group">
                <label>:</label>
                <pn-textbox ng-model="modelIP.Reng6" maxlength="4" tabindex="6"></pn-textbox>
            </div>
        </div>
        <div class="ipv6-input">
            <div class="form-group">
                <label>:</label>
                <pn-textbox ng-model="modelIP.Reng7" maxlength="4" tabindex="7"></pn-textbox>
            </div>
        </div>
        <div class="ipv6-input">
            <div class="form-group">
                <label>:</label>
                <pn-textbox ng-model="modelIP.Reng8" maxlength="4" tabindex="8"></pn-textbox>
            </div>
        </div>
    </div>
</div>
