
    <div>
        <div class="d-inline-block personalid" >
            <pn-textbox-number tabindex="{{tabindex1}}" ng-disabled="disabled" ng-model="model.character" ng-keyup="onChange(model)"></pn-textbox-number>
        </div>
        <div class="d-inline-block personalid2" >
            <input tabindex="{{tabindex2}}" ng-disabled="disabled" ng-model="model.character2"ng-keyup="onChange(model)"  pn-text-box-filtering lan="persiannum" style="width:100%">
        </div>
        <div class="d-inline-block personalid-combo">
            <input tabindex="{{tabindex3}}" ng-disabled="disabled" ng-model="model.character3" ng-keyup="onChange(model)" pn-text-box-filtering  lan="persiannum" style="width:100%">
        </div>

</div>


