    <div class="panel-editor">
        <div class="k-rtl">
            <textarea class="mousetrap" kendo-editor k-ng-model="value" k-tools="tools"></textarea>
            <div ng-class="{'panel-editor-action':disabled}"></div>
            <style>
                .panel-editor {
                    position: relative;
                }

                .panel-editor .panel-editor-action {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    left: 0px;
                    bottom: 0px;
                    background-color: #f2f2f2;
                    opacity: 0.5;
                }

                .panel-disable {
                    display: none;
                }
            </style>
        </div>
    </div>




