<div class="btn-group btn-group-justified " role="group">
    <div class="btn-group" role="group">
        <button ng-disabled="options.disabled" type="button"  ng-click="options.value = true;" class="btn btn-default" ng-class="{'active': options.value}">بلی</button>
    </div>
    <div class="btn-group" role="group">
        <button ng-disabled="options.disabled" type="button" ng-click="options.value = false;" class="btn btn-default" ng-class="{'active': !options.value}">خیر</button>
    </div>
</div>