<form id="teacherForm" name="teacherForm" style="color:black;">
    <div class="row margin-top-10">
        <div class="col-md-3">

            <span class="col-md-4 label">نام</span>
            <input type="text" class="col-md-8 " required ng-model="teacher.FirstName" placeholder="نام به فارسی">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">نام خانوادگی</span>
            <input type="text" class="col-md-8 " required ng-model="teacher.LastName" placeholder="نام خانوادگی به فارسی">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">نام پدر</span>
            <input type="text" class="col-md-8 " ng-model="teacher.FaderName" placeholder="نام پدر به فارسی">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">محل تولد</span>
            <input type="text" class="col-md-8 " required ng-model="teacher.BirthPlace" placeholder="محل تولد به فارسی">

        </div>

    </div>
    <div class="row margin-top-10">
        <div class="col-md-3">

            <span class="col-md-4  label">محل صدور</span>
            <input type="text" class="col-md-8 " required ng-model="teacher.BirthCertificateIssuancePlace" placeholder="محل صدور به فارسی">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">تاریخ تولد</span>
            <input type="date" text-required='انتخاب تاریخ تولد اجباریست' kendo-date-picker options="dateOptionsBirthDate" class="col-md-8 form-control k-rtl" name="BirthDate" k-ng-model="teacher.BirthDate" />

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">کد ملی</span>
            <input type="text" class="col-md-8 " required ng-model="teacher.NationalCode" placeholder="کد ملی">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">تلفن ثابت</span>
            <input type="text" class="col-md-8 " required ng-model="teacher.LandLinePhoneNumber" placeholder="تلفن ثابت">

        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-3">

            <span class="col-md-4  label">تلفن همراه</span>
            <input type="text" class="col-md-8 " ng-model="teacher.MobilePhoneNumber" placeholder="تلفن همراه">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">تلفن اضطراری</span>
            <input type="text" class="col-md-8 " required ng-model="teacher.EmergencyPhoneNumber" placeholder="تلفن اضطراری">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">پست الکترونیکی</span>
            <input type="text" class="col-md-8 " required ng-model="teacher.Email" placeholder="پست الکترونیکی">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">پست سازمانی</span>
            <input type="text" class="col-md-8 " ng-model="teacher.Post" placeholder="پست سازمانی">

        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-3">

            <span class="col-md-4  label">مدرک</span>
            <pn-combo-box ng-model="teacher.AcademicDegree" class="col-md-8 " required source="academicDegreeOptions" textfield="Text" valuefield="Id"></pn-combo-box>

        </div>

        <div class="col-md-3">

            <span class="col-md-4  label">گرایش مدرک</span>
            <input type="text" class="col-md-8 " ng-model="teacher.Major" placeholder="گرایش مدرک">

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">آدرس</span>
            <input type="text" class="col-md-8 " ng-model="teacher.Address" placeholder="آدرس">

        </div>
    </div>

    <!--<div class="row margin-top-10">
        <div class="col-md-3">

            <span class="col-md-4  label">کلاس</span>
            <pn-combo-box ng-model="schoolCourse.SchoolClassId" class="col-md-8 " required api="api" source="schoolClassOptions"></pn-combo-box>

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">درس</span>
            <pn-combo-box ng-model="schoolCourse.CourseId" class="col-md-8 " api="api" source="courseOptions"></pn-combo-box>

        </div>
        <div class="col-md-3">

            <span class="col-md-4  label">زمان کلاس</span>
            <input type="text" class="col-md-8 " ng-model="schoolCourse.ClassTime" placeholder="زمان کلاس">

        </div>

    </div>-->


    <div class="row margin-top-10">
        <div class="col-md-6">
            <span class="col-md-3  label">عکس معلم</span>
            <div class="col-md-9 margin-top15">
                <pn-file-upload ng-model="Base64ImageFile" config="base64ImageFileOptions" api="api" on-selected="base64ImageFileOnSelect(fileStream, fileInfo)" on-remove="base64ImageFileOnRemove(e)"></pn-file-upload>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" ng-click="saveEntity()">ذخیره</button>
    </div>
</form>
