    <!-- uiView: ivoice_content --><div ui-view="ivoice_content" autoscroll="false" class="ng-scope">
    <div class="md-card md-card-single main-print ng-scope" id="invoice" single-card="">
        <form action="" class="uk-form-stacked ng-pristine ng-valid">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons" id="invoice_submit"></i>
                </div>
                <input name="invoice_number" id="invoice_number" class="md-card-toolbar-input" type="text" value="" placeholder="Invoice number">
            </div>
            <div class="md-card-content large-padding" style="height: 235px;">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-2">
                        <label class="uk-form-label">Issue date:</label>
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                            <div class="md-input-wrapper"><label for="invoice_dp">Select date</label><input class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" type="text" id="invoice_dp" value="" data-uk-datepicker="{format:'DD.MM.YYYY'}" md-input="" ng-model="invoiceData.date"><span class="md-input-bar "></span></div>

                        </div>
                    </div>
                    <div class="uk-width-medium-1-2 uk-row-first">
                        <label class="uk-form-label uk-margin-bottom">Due date (days):</label>
                        <span class="icheck-inline">
                            <div class="iradio_md"><input type="radio" name="invoice_due_date" id="invoice_due_date_7" icheck="" ng-model="invoiceData.due_date" value="7" class="ng-pristine ng-untouched ng-valid ng-empty" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            <label for="invoice_due_date_7" class="inline-label">7</label>
                        </span>
                        <span class="icheck-inline">
                            <div class="iradio_md"><input type="radio" name="invoice_due_date" id="invoice_due_date_14" icheck="" ng-model="invoiceData.due_date" value="14" class="ng-pristine ng-untouched ng-valid ng-empty" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            <label for="invoice_due_date_14" class="inline-label">14</label>
                        </span>
                        <span class="icheck-inline">
                            <div class="iradio_md"><input type="radio" name="invoice_due_date" id="invoice_due_date_21" icheck="" ng-model="invoiceData.due_date" value="21" class="ng-pristine ng-untouched ng-valid ng-empty" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            <label for="invoice_due_date_21" class="inline-label">21</label>
                        </span>
                    </div>
                </div>
                <div class="uk-grid uk-grid-divider grid-block" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-2">
                        <label class="uk-form-label uk-margin-bottom">From:</label>
                        <div class="uk-form-row">
                            <div class="md-input-wrapper"><label for="invoice_from_company">Company Name</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="invoice_from_company" name="invoice_from_company" md-input="" ng-model="invoiceData.from_company"><span class="md-input-bar "></span></div>

                        </div>
                        <div class="uk-form-row">
                            <div class="md-input-wrapper"><label for="invoice_from_address_1">Address 1</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="invoice_from_address_1" name="invoice_from_address_1" md-input="" ng-model="invoiceData.from_address_1"><span class="md-input-bar "></span></div>

                        </div>
                        <div class="uk-form-row">
                            <div class="md-input-wrapper"><label for="invoice_from_address_2">Address 2</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="invoice_from_address_2" name="invoice_from_address_2" md-input="" ng-model="invoiceData.from_address_2"><span class="md-input-bar "></span></div>

                        </div>
                    </div>
                    <div class="uk-width-medium-1-2 uk-row-first">
                        <label class="uk-form-label uk-margin-bottom">To:</label>
                        <div class="uk-form-row">
                            <div class="md-input-wrapper"><label for="invoice_to_company">Company Name</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="invoice_to_company" name="invoice_to_company" md-input="" ng-model="invoiceData.to_company"><span class="md-input-bar "></span></div>

                        </div>
                        <div class="uk-form-row">
                            <div class="md-input-wrapper"><label for="invoice_to_address_1">Address 1</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="invoice_to_address_1" name="invoice_to_address_1" md-input="" ng-model="invoiceData.to_address_1"><span class="md-input-bar "></span></div>

                        </div>
                        <div class="uk-form-row">
                            <div class="md-input-wrapper"><label for="invoice_to_address_2">Address 2</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="invoice_to_address_2" name="invoice_to_address_2" md-input="" ng-model="invoiceData.to_address_2"><span class="md-input-bar "></span></div>

                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-1-1 uk-row-first">
                        <div id="form_invoice_services">
                            <!-- ngRepeat: service in invoiceData.services --><div class="uk-grid ng-scope" data-uk-grid-margin="" ng-repeat="service in invoiceData.services">
                                <div class="uk-width-medium-1-10 uk-text-center">
                                    <p class="uk-text-large ng-binding">1.</p>
                                </div>
                                <div class="uk-width-medium-9-10 uk-row-first">
                                    <div class="uk-grid uk-grid-small" data-uk-grid-margin="">
                                        <div class="uk-width-medium-4-10">
                                            <div class="md-input-wrapper"><label for="inv_service_1">Service Name</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="inv_service_1" md-input="" ng-model="service.service_name"><span class="md-input-bar "></span></div>

                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper"><label for="inv_service__rate">Rate ($)</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="inv_service__rate" md-input="" ng-model="service.service_rate" ng-change="setTotal(service)"><span class="md-input-bar "></span></div>

                                        </div>
                                        <div class="uk-width-medium-1-10">
                                            <div class="md-input-wrapper"><label for="inv_service_hours_1">Hours</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="inv_service_hours_1" md-input="" ng-model="service.service_hours" ng-change="setTotal(service)"><span class="md-input-bar "></span></div>

                                        </div>
                                        <div class="uk-width-medium-1-10">
                                            <div class="md-input-wrapper"><label for="inv_service_tax_1">Tax</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="inv_service_tax_1" md-input="" ng-model="service.service_tax" ng-change="setTotal(service)"><span class="md-input-bar "></span></div>

                                        </div>
                                        <div class="uk-width-medium-2-10 uk-row-first">
                                            <div class="md-input-wrapper md-input-filled"><label for="inv_service_total_1">Total ($)</label><input type="text" class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty md-input-processed" id="inv_service_total_1" md-input="" ng-model="service.service_total" readonly=""><span class="md-input-bar "></span></div>

                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-1 uk-row-first">
                                            <div class="md-input-wrapper"><label for="inv_service_description_1">Description</label><textarea class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty md-input-processed" id="inv_service_description_1" md-input="" ng-model="service.service_description" cols="30" rows="2"></textarea><span class="md-input-bar "></span></div>

                                        </div>
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: service in invoiceData.services -->
                        </div>
                        <div class="uk-text-center uk-margin-medium-top uk-margin-bottom">
                            <a href="#" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="addService($event)">Add new</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>