<div ng-init="init()">
    <div class="col-xs-12" style="min-height:300px;">
        <div class="col-xs-3">
            <div class="scroll-wrapper scrollbar-inner" style="position: relative;">
                <div class="scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 249px;">

                    <ul class="list-group">
                        <li ng-repeat="parent in parents" class="list-group-item box" ng-click="showDetails(parent.Id)">
                            <span ng-bind="parent.FirstName"></span>
                            <span style="margin-right:30px;" ng-bind="parent.LastName"></span>
                            <!--<span class="badge">12</span>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="md-card md-card-single main-print ng-scope" id="invoice" single-card="">
                <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text large ng-binding" ng-bind="selectedParent.FullName" id="invoice_name"></h3>
                </div>
                <div class="md-card-content invoice_content print_bg" ng-class="invoice_footer_active" style="height: 300px;overflow-x: hidden;overflow-y: auto;">
                    <!-- ngIf: invoice.header -->
                    <div class="uk-margin-medium-bottom ng-binding">
                        <!-- ngIf: invoice.header -->
                        <span >تاریخ ایجاد:</span> 10.06.2016
                        <br>
                        <span >تاریخ سررسید اولین پرداخت:</span> 10.27.2016
                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-small-3-5">
                            <div class="uk-margin-bottom">
                                <span>مجموع بدهی:</span>
                                <address>
                                    <p><strong>Bailey-Lynch</strong></p>
                                    <p>2808 Robson St</p>
                                    <p>Vancouver, BC V6B 3K9</p>
                                </address>
                            </div>
                            <div class="uk-margin-medium-bottom">
                                <span>مجموع پرداختی ها:</span>
                                <address>
                                    <p><strong class="ng-binding">Ferry PLC</strong></p>
                                    <p class="ng-binding">2220 Vena Spurs Apt. 871</p>
                                    <p class="ng-binding">Lake Reymundoside, 65470</p>
                                </address>
                            </div>
                        </div>
                        <div class="uk-width-small-2-5 uk-row-first">
                            <span>جمع کل:</span>
                            <p class="heading_b uk-text-success ng-binding">$3,152.40</p>
                            <p>Incl. VAT - $372.40</p>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-large-bottom">
                        <div class="uk-width-1-1">
                            <table class="uk-table">
                                <thead>
                                    <tr class="uk-text-upper">
                                        <th>عنوان پرداخت</th>
                                        <th class="uk-text-center">تاریخ ثبت</th>
                                        <th class="uk-text-center">مبلغ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ngRepeat: service in invoice.services -->
                                    <tr class="uk-table-middle ng-scope" ng-repeat="payItem in payItems" on-last-repeat="">
                                        <td>
                                            <span class="uk-text-large ng-binding" ng-bind="payItem.DscPay">شهریه</span><br>
                                            <!--<span class="uk-text-muted uk-text-small ng-binding">شهریه سال تحصیلی 96-97</span>-->
                                        </td>
                                        <td class="uk-text-center ng-binding" ng-bind="payItem.DateInsert">
                                        </td>
                                        <td class="uk-text-center ng-binding" ng-bind="payItem.Price">
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <span class="uk-text-muted uk-text-small uk-text-italic">Payment to:</span>
                            <p class="uk-margin-top-remove ng-binding">
                                Bank XYZ<br>
                                IBAN 123 456 789
                            </p>
                            <p class="uk-text-small ng-binding">Please pay within 21 days</p>
                        </div>
                    </div>
                    <!-- ngIf: invoice.footer -->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .box {
        background-color: #424242;
        color:#fefefe;
        font-family: 'Yekan' !important;
        cursor:pointer;
    }

        .box:hover,
        .box:focus {
            background-color : rgba(178,219,251,0.15);
            box-shadow: 0 0.5em 0.5em 0.4em var(--hover);
            transform: translateY(-0.25em);
        }
</style>